basePath: /api/v1
definitions:
  response.Response:
    properties:
      data: {}
      message:
        type: string
      serverTime:
        type: string
      status:
        type: string
    type: object
  scheduler.CreateScheduleRequest:
    properties:
      accountType:
        type: string
      amount:
        type: integer
      bankCode:
        type: string
      biFastCode:
        type: string
      date:
        type: integer
      day:
        type: string
      destination:
        type: string
      destinationName:
        type: string
      frequency:
        type: string
      note:
        type: string
      purposeType:
        type: string
      sakuId:
        type: integer
      startDate:
        type: string
      transactionMethod:
        type: string
    required:
    - accountType
    - amount
    - bankCode
    - destination
    - destinationName
    - frequency
    - sakuId
    - startDate
    - transactionMethod
    type: object
  transfer.InquiryRequest:
    properties:
      amount:
        type: integer
      destinationAccount:
        type: string
      sourceAccount:
        type: string
    required:
    - amount
    - destinationAccount
    - sourceAccount
    type: object
  transfer.PaymentRequest:
    properties:
      amount:
        type: integer
      destinationAccount:
        type: string
      notes:
        type: string
      sequence:
        type: string
      sourceAccount:
        type: string
    required:
    - amount
    - destinationAccount
    - sequence
    - sourceAccount
    type: object
host: api.bankyaya.co.id
info:
  contact:
    email: billyimmcul2010@gmail.com
    name: BillyKore
    url: https://www.swagger.io/support
  description: Greet service API specification.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://swagger.io/terms/
  title: API Specification
  version: "1.0"
paths:
  /scheduler:
    post:
      consumes:
      - application/json
      description: Create a new transaction schedule
      parameters:
      - description: Create a new schedule request
        in: body
        name: CreateScheduleRequest
        required: true
        schema:
          $ref: '#/definitions/scheduler.CreateScheduleRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Create a new schedule
      tags:
      - transaction
  /scheduler/{id}:
    delete:
      consumes:
      - application/json
      description: Delete a transaction schedule by the given ID
      parameters:
      - description: Schedule ID
        in: path
        name: DeleteScheduleRequest
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Delete a schedule by ID
      tags:
      - transaction
    get:
      consumes:
      - application/json
      description: Retrieve a transaction schedule by the given ID
      parameters:
      - description: Schedule ID
        in: path
        name: GetScheduleRequest
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Get a schedule by ID
      tags:
      - transaction
  /transfer/inquiry:
    post:
      consumes:
      - application/json
      description: Create new inquiry transfer
      parameters:
      - description: Inquiry request
        in: body
        name: InquiryRequest
        required: true
        schema:
          $ref: '#/definitions/transfer.InquiryRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Transfer inquiry
      tags:
      - transfer
  /transfer/payment:
    post:
      consumes:
      - application/json
      description: Performs transfer payment
      parameters:
      - description: Payment request
        in: body
        name: PaymentRequest
        required: true
        schema:
          $ref: '#/definitions/transfer.PaymentRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Transfer payment
      tags:
      - transfer
  /user/login:
    post:
      consumes:
      - application/json
      description: User login to get access token
      parameters:
      - description: Inquiry request
        in: body
        name: InquiryRequest
        required: true
        schema:
          $ref: '#/definitions/transfer.InquiryRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.Response'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: User login
      tags:
      - user
schemes:
- http
- https
swagger: "2.0"
